<%- include("header") %>

    <body>
        <div class="blog">
            <h4>
                <%= title %>
            </h4>
            <p class="paragraph">
                <%= Blog %>
            </p>
        </div> 
    </body>
    <%- include("footer") %>