
<footer>

    <div class="text-center p-3" style=" position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 70px">
        Developed By Varun Adhavan T
        <p>Blogzz</p>
    </div>

</footer>

</html>