<%- include("header") %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <body>
        <div class="publisher">
            
            <form action="/write" method="post">
                <input type="text" name="title" class="form-control w-50" placeholder="Enter Title" autofocus maxlength="20" required>
                <textarea class="form-control w-50" name="blog" rows="10" placeholder="Write blogszz.." minlength="25" required></textarea>
                <button type="submit" class="btn btn-dark rounded-3 bg-primary w-25">PUBLISH</button>
            </form>
        </div>
    </body>
<%- include("footer") %>