* {
    /* display: grid;
    justify-content: center; */
    color: #7289da;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #282B30;
}

.date {
    display: grid;
        height: auto;
        width: auto;
    padding: 5%;
        /* padding-top: 10%; */
        /* padding-bottom: 10px; */
    text-align: left;
}

.date p {
    font-weight: 100;
    font-size: medium;
    padding-left: 10%;
    padding-bottom: 20px;
    border-bottom: solid 1px #7289da;
    /* text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; */
        /* CSS way to wrap a long paragraphs to a single line and it works*/
}
.date h4 {
    font-weight: 200;
    padding-left: 10%;
    padding-bottom: 10px;
    
}

.header {
    background-color: #282B30;
}

/* CSS for writers page */

.publisher {
    padding-top: 200px;
}

.publisher textarea {
    margin-left: 25%;
    /* margin-bottom: 20px; */
}

.publisher input {
    margin-left: 25%;
    margin-bottom: 2%;
    /* margin-bottom: 20px; */
}
.publisher button {
    margin-top: 20px;
    margin-left: 37.5%;
    letter-spacing: 2px;
    font-weight: 700;
}

.publisher h2 {
    margin-top: 20px;
    margin-left: 25%;
    padding-bottom: 20px;
}
.header h2 {
    display: grid;
    margin: 0%;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.header li {
    font-size: x-large;
    color: #7289da;
}

.header li a {
    font-size: x-large;
    color: #7289da;
}

/* About CSS */
.about p {
    text-align: center;
}

.about h4 {
    text-align: center;
    padding-top: 7.5%;
    padding-bottom: 20px;
}
/* Blog Page */
.blog {
    display: grid;
    height: auto;
    width: auto;
    font-weight: bold;
    padding: 5%;
    padding-top: 2%;
    text-align: left;
}

.blog p {
    font-weight: 500;
    font-size: x-large;
    align-items: center;
    text-align: justify;
}

.blog h4 {
    font-weight: bold;
    /* padding-left: 10%; */
    font-size: xx-large;
    text-align: center;
    padding-bottom: 25px;

}